body{
	background-color: lightgrey;
	width:100%;
}
h1{
	background-color: teal;
	width: 75%;
	margin: 0% auto;
	border-bottom: 1px grey solid;
}
.college-steps{
	font-family: helvetica;
	width: 50%;
	margin: 1% auto;
	background-color: white;
	border: 1px black solid;
}